:root {
    --bg:         #15131A;
    --bg-alt:     #282430;
    --fg:         #FFFCED;
    --fg-alt:     #7F7399;
    --red:        #FF2C28;
    --red-alt:    #CC0400;
    --orange:     #FF5B24;
    --orange-alt: #FF4405;
    --yellow:     #FFD730;
    --yellow-alt: #FFCA01;
    --green:      #20FF2C;
    --green-alt:  #00DB16;
    --blue:       #4560FF;
    --blue-alt:   #2B2EFF;
    --purple:     #9E48FF;
    --purple-alt: #A100EE;
    --cyan:       #30FFEF;
    --cyan-alt:   #00D3D0;
    --pink:       #F123FF;
    --pink-alt:   #DB00D5;
    --accent:     var(--purple);
}
